<div class="l-100 overlay--header">
  <div class="module--title">Traffic class blog</div>
  <div class="header--tags">Web Development | Design | Static</div>
</div>
<div class="l-100 trafikkblog--background"></div>
<div class="l-100 trafikkblog--about">
  <div class="module--title about--title">Traffic class blog</div>
  <div class="about--text"> This is a website/blog i built for a traffic class i attended during school. It was quite an enjoyable experience to build as i got to learn more about video headers! check it out <a class="module--link" href="http://maxlloyd.no/trafikkblog">here</a>.</div>
</div>
