@import "../utils/vars"

.module--hamburger
  position: fixed
  cursor: pointer
  z-index: 1
  height: 55px
  width: 65px
  background-color: white
  padding-left: 0px

  div
    margin: 10px 10px
    background-color: $primary-dark
    width: 45px
    height: 5px
    transition: 200ms all ease-in-out
