@import "../utils/vars"

.module--header
  color: $text-color
  height: 70px
  max-width: 100%
  background-color: $primary-darker
  text-align: center
  font-family: 'Lato', sans-serif
  font-size: 18px
  font-weight: 700
  line-height: 3.7
  letter-spacing: 2px
  text-transform: uppercase
