.module--link
  text-decoration: none
  font-weight: bold
  color: $primary
  position: relative
  cursor: pointer

  &:before
    content: ""
    position: absolute
    width: 100%
    height: 2px
    bottom: 0px
    left: 0px
    background-color: $primary
    visibility: hidden
    -webkit-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transition: all 0.3s ease-in-out 0s
    transition: all 0.3s ease-in-out 0s

  &:hover:before
    visibility: visible
    -webkit-transform: scaleX(1)
    transform: scaleX(1)
