@import "../utils/vars"

.module--navigation
	position: fixed
	top: 0
	transform: translateX(-255px)
	width: 255px
	height: 100vh
	z-index: 1
	background-color: white
	transition: all 200ms ease-in-out
	display: flex
	align-items: center
	justify-content: center

	@media (max-width: $break-medium)
	  width: 100vw
	  transform: translateX(-100vw)


	.module--navigation--links
		font-size: 18px
		font-weight: 700
		text-transform: uppercase

		@media (max-width: $break-medium)
			font-size: 34px
			text-align: center

		.link
			padding: 20px 0px
			font-size: 20px
			cursor: pointer

			@media (max-width: $break-medium)
				background-color: $primary-dark
				width: 100vw
				margin: 5px 0px

			a
				text-decoration: none
				color: $primary-dark
				transition: all 200ms ease-in-out
				font-family: 'Montserrat', sans-serif
				font-weight: 400


				@media (max-width: $break-medium)
					color: white
					font-size: 34px

				&:hover
					color: $primary

					@media (max-width: $break-medium)
						color: white
