@import "../utils/vars"

.module--overlay
  position: fixed
  width: 100vw
  height: 100vh
  background-color: white
  z-index: 4
  padding: 0
  transform: translateX(100vw)
  //transition: all 800ms ease-in-out
  overflow-y: scroll

  .overlay--close
    left: 2.5px
    position: fixed
    width: 60px
    height: 60px
    cursor: pointer
    padding-top: 30px
    z-index: 5

    div
      height: 3px
      border-radius: 10px
      width: 60px
      background-color: $primary
      position: absolute

      &:first-of-type
        transform: rotate(45deg)

      &:last-of-type
        transform: rotate(-45deg)


  .overlay--ajax--content
    display: flex
    flex-wrap: wrap
    padding-top: 60px
    flex-direction: row

    .overlay--header
      padding: 15px
      margin-bottom: 20px
      border-bottom: 1px solid #DDD
      display: flex
      align-items: baseline
      justify-content: space-between

      .header--tags
        text-align: right
        font-family: 'Montserrat', sans-serif
        color: #BBB


.notes--background
  width: 100%
  height: 757px
  background-size: cover
  background-image: url('../media/work--notes.png')
  background-position: top

  @media (max-width: $break-medium)
    height: 300px
    border: 1px solid $primary
    margin-left: 20px
    margin-right: 20px

.notes--about
  .about--text
    padding: 20px
    padding-top: 0

    @media (max-width: $break-medium)
      padding-top: 20px


.se--slider
  .se-frontpage
    background-image: url('../media/se-frontpage.png')

  .se-account
    background-image: url('../media/se-account.png')

  .se-dashboard
    background-image: url('../media/se-dashboard.png')

  .se-filters
    background-image: url('../media/se-filters.png')

  .se-leaderboard
    background-image: url('../media/se-leaderboard.png')

  .se-tipping
    background-image: url('../media/se-tipping.png')

.se--about
  padding: 20px 20px 0px 20px

  @media (max-width: $break-medium)
    padding: 20px

  .about--title
    margin-top: 20px
    font-size: 30px
    margin-bottom: 10px

  .about--text
    font-size: 18px
    text-align: left

  .about--link
    color: #BBB

  .about--features
    line-height: 30px
    margin-top: 10px
    .feature
      font-family: 'Montserrat', sans-serif
      font-weight: 700
      font-size: 20px
      color: $primary

      &:nth-child(1)
        color: #E5D97B

      &:nth-child(2)
        color: #F26D5B

      &:nth-child(3)
        color: #C03546

      &:nth-child(4)
        color: #492540

      b
        font-size: 26px

.massan--images
  box-shadow: 0px 2px 10px rgba(0,0,0, 0.4)

  .massan-dashboard
    height: 480px
    background-image: url('../media/massan-dashboard.png') !important
    background-position: center
    border-right: 2px solid $primary
    background-size: cover

  .massan-vm
    height: 480px
    background-image: url('../media/massan-vm.png')
    background-position: center
    background-size: cover

  .massan-socialbox
    border-left: 2px solid $primary
    height: 480px
    background-image: url('../media/massan-socialbox.png')
    background-size: cover
    background-position: top

.massan--about
  padding: 20px 20px 0px 20px

  @media (max-width: $break-medium)
    padding: 20px

  .about--title
    font-size: 30px
    margin-top:  20px
    margin-bottom: 10px

  .about--text
    font-size: 18px
    text-align: left



.trafikkblog--background
  background-image: url('../media/trafikkblog--content.png')
  background-size: cover
  background-position: center
  height: 480px
  box-shadow: 0px 2px 10px rgba(0,0,0, 0.4)

.trafikkblog--about
  padding: 20px 20px 20px 20px

  .about--title
    font-size: 30px
    margin-top:  20px
    margin-bottom: 10px

  .about--text
    font-size: 18px
    text-align: left
