@import "../utils/vars"

.module--slider
  width: 960px
  overflow: hidden
  box-shadow: 0px 2px 10px rgba(0,0,0, 0.4)
  @media (max-width: $break-medium)
    width: 100vw

  .slider--wrapper
    width: 9999px
    height: 540px
    overflow: hidden
    transition: all 800ms ease-in-out

    .slide
      display: inline-block
      width: 960px
      height: 540px
      background-size: cover
      transition: all 800ms ease-in-out

      @media (max-width: $break-medium)
        width: 100vw

        &:not(:first-child)
          border-left: 4px solid $primary
