<!-- experiments -->
<!-- <div id='experiments'>
  <div class="module--header">experiments</div>
  <div class='l-960-container experiments--contentarea'>
    <div class="experiment">
      <div class="l-30 experiment--icon snake">
        <svg class="squiggle-animated svh-hi" xmlns="http://www.w3.org/2000/svg" height="350" width="350" viewBox="300 0 500 1200">
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_24_" d="M249.8,768c97-27.3,200.9-33.4,300.1-15.3c26.1,4.8,51.9,11.9,74.8,25.8c8.3,5,15.8-7.9,7.6-13
         c-21.1-12.8-44.8-20.4-68.8-25.4c-25.1-5.2-50.8-8.4-76.4-10.5c-51.5-4.1-103.4-2.1-154.6,5.3c-29.3,4.3-58.3,10.5-86.7,18.5
         C236.5,756.2,240.5,770.7,249.8,768L249.8,768z"/>
         <path stroke="#F1B500" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.0" id="XMLID_17_" d="M232.6,1071.4c8.8-104.3,17.2-208.8,18.2-313.5c0.9-99.9-5.1-200.1-23.5-298.4
         c-10.3-54.8-24.6-108.9-43.6-161.3c-3.3-9-17.8-5.1-14.5,4c33.6,92.6,52.3,190,60.7,288.1c8.8,102,6.9,204.6,0.8,306.7
         c-3.4,58.2-8.2,116.4-13.1,174.5C216.8,1081,231.8,1081,232.6,1071.4L232.6,1071.4z"/>
         <path stroke="#3A7CEC" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_31_" d="M659.2,1032.1c-8.3-50.3-12.7-101.2-16.1-152c-3.4-51.4-6.1-102.9-9.1-154.4c-6-103.7-11.9-207.3-17.9-311
         c-3.4-58.5-6.7-117-10.1-175.4c-0.6-9.6-15.6-9.7-15,0c6,104.3,12,208.7,18,313c6,104.1,11.6,208.2,18.1,312.2
         c3.6,57.4,8.3,114.9,17.6,171.7C646.3,1045.6,660.8,1041.5,659.2,1032.1L659.2,1032.1z"/>
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_38_" d="M802.9,923.1c4.4,28.7,8.5,57.5,12.2,86.3c0.5,4,3.1,7.5,7.5,7.5c3.7,0,8-3.5,7.5-7.5
         c-3.8-30.2-8.1-60.3-12.7-90.3c-0.6-4-5.6-6.2-9.2-5.2C803.9,915.1,802.3,919.1,802.9,923.1L802.9,923.1" />
         <path stroke="#2CA24C" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_45_" d="M805.1,872.2c9.7,0,9.7-15,0-15C795.5,857.2,795.5,872.2,805.1,872.2L805.1,872.2z"/>
     </svg>
      </div>
      <div class="l-70 experiment--info">
        <div class="info--title">Lorem</div>
        <div class="info--about">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
      </div>
    </div>

    <div class="experiment">
      <div class="l-30 experiment--icon">
        <svg class="squiggle-animated svh-hi" xmlns="http://www.w3.org/2000/svg" height="350" width="350" viewBox="300 0 500 1200">
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_24_" d="M249.8,768c97-27.3,200.9-33.4,300.1-15.3c26.1,4.8,51.9,11.9,74.8,25.8c8.3,5,15.8-7.9,7.6-13
         c-21.1-12.8-44.8-20.4-68.8-25.4c-25.1-5.2-50.8-8.4-76.4-10.5c-51.5-4.1-103.4-2.1-154.6,5.3c-29.3,4.3-58.3,10.5-86.7,18.5
         C236.5,756.2,240.5,770.7,249.8,768L249.8,768z"/>
         <path stroke="#F1B500" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.0" id="XMLID_17_" d="M232.6,1071.4c8.8-104.3,17.2-208.8,18.2-313.5c0.9-99.9-5.1-200.1-23.5-298.4
         c-10.3-54.8-24.6-108.9-43.6-161.3c-3.3-9-17.8-5.1-14.5,4c33.6,92.6,52.3,190,60.7,288.1c8.8,102,6.9,204.6,0.8,306.7
         c-3.4,58.2-8.2,116.4-13.1,174.5C216.8,1081,231.8,1081,232.6,1071.4L232.6,1071.4z"/>
         <path stroke="#3A7CEC" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_31_" d="M659.2,1032.1c-8.3-50.3-12.7-101.2-16.1-152c-3.4-51.4-6.1-102.9-9.1-154.4c-6-103.7-11.9-207.3-17.9-311
         c-3.4-58.5-6.7-117-10.1-175.4c-0.6-9.6-15.6-9.7-15,0c6,104.3,12,208.7,18,313c6,104.1,11.6,208.2,18.1,312.2
         c3.6,57.4,8.3,114.9,17.6,171.7C646.3,1045.6,660.8,1041.5,659.2,1032.1L659.2,1032.1z"/>
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_38_" d="M802.9,923.1c4.4,28.7,8.5,57.5,12.2,86.3c0.5,4,3.1,7.5,7.5,7.5c3.7,0,8-3.5,7.5-7.5
         c-3.8-30.2-8.1-60.3-12.7-90.3c-0.6-4-5.6-6.2-9.2-5.2C803.9,915.1,802.3,919.1,802.9,923.1L802.9,923.1" />
         <path stroke="#2CA24C" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_45_" d="M805.1,872.2c9.7,0,9.7-15,0-15C795.5,857.2,795.5,872.2,805.1,872.2L805.1,872.2z"/>
     </svg>
      </div>
      <div class="l-70 experiment--info">
        <div class="info--title">Lorem</div>
        <div class="info--about">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
      </div>
    </div>
    <div class="experiment">
      <div class="l-30 experiment--icon">
        <svg class="squiggle-animated svh-hi" xmlns="http://www.w3.org/2000/svg" height="350" width="350" viewBox="300 0 500 1200">
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_24_" d="M249.8,768c97-27.3,200.9-33.4,300.1-15.3c26.1,4.8,51.9,11.9,74.8,25.8c8.3,5,15.8-7.9,7.6-13
         c-21.1-12.8-44.8-20.4-68.8-25.4c-25.1-5.2-50.8-8.4-76.4-10.5c-51.5-4.1-103.4-2.1-154.6,5.3c-29.3,4.3-58.3,10.5-86.7,18.5
         C236.5,756.2,240.5,770.7,249.8,768L249.8,768z"/>
         <path stroke="#F1B500" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.0" id="XMLID_17_" d="M232.6,1071.4c8.8-104.3,17.2-208.8,18.2-313.5c0.9-99.9-5.1-200.1-23.5-298.4
         c-10.3-54.8-24.6-108.9-43.6-161.3c-3.3-9-17.8-5.1-14.5,4c33.6,92.6,52.3,190,60.7,288.1c8.8,102,6.9,204.6,0.8,306.7
         c-3.4,58.2-8.2,116.4-13.1,174.5C216.8,1081,231.8,1081,232.6,1071.4L232.6,1071.4z"/>
         <path stroke="#3A7CEC" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_31_" d="M659.2,1032.1c-8.3-50.3-12.7-101.2-16.1-152c-3.4-51.4-6.1-102.9-9.1-154.4c-6-103.7-11.9-207.3-17.9-311
         c-3.4-58.5-6.7-117-10.1-175.4c-0.6-9.6-15.6-9.7-15,0c6,104.3,12,208.7,18,313c6,104.1,11.6,208.2,18.1,312.2
         c3.6,57.4,8.3,114.9,17.6,171.7C646.3,1045.6,660.8,1041.5,659.2,1032.1L659.2,1032.1z"/>
         <path stroke="#E33E2B" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_38_" d="M802.9,923.1c4.4,28.7,8.5,57.5,12.2,86.3c0.5,4,3.1,7.5,7.5,7.5c3.7,0,8-3.5,7.5-7.5
         c-3.8-30.2-8.1-60.3-12.7-90.3c-0.6-4-5.6-6.2-9.2-5.2C803.9,915.1,802.3,919.1,802.9,923.1L802.9,923.1" />
         <path stroke="#2CA24C" stroke-width="7" fill="#FFF"  stroke-dasharray="" stroke-dashoffset="0.00" id="XMLID_45_" d="M805.1,872.2c9.7,0,9.7-15,0-15C795.5,857.2,795.5,872.2,805.1,872.2L805.1,872.2z"/>
     </svg>
      </div>
      <div class="l-70 experiment--info">
        <div class="info--title">Lorem</div>
        <div class="info--about">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
      </div>
    </div>
    <div class="experiment">
      <div class="l-30 experiment--icon"></div>
      <div class="l-70 experiment--info">
        <div class="info--title"></div>
        <div class="info--about"></div>
      </div>
    </div>
  </div>
</div> -->
