<!-- THIS IS CONTAINED BY A 960 CONTAINER. USE THE LAYOUT CLASSES PROVIDED IN LAYOUT.SASS -->
<div class="l-100 overlay--header">
  <div class="module--title">Notes</div>
  <div class="header--tags">Web Development | Design</div>
</div>
<div class="l-50 notes--background">
</div>
<div class="l-50 notes--about">
  <div class="about--text">
    <div class="module--title">Let's take som notes!</div>
    Relavtively simple notes applicaiton built using a full javascript stack with MongoDB. Let's you store and delete notes. The project is avalible on <a class="module--link" href="https://github.com/MaximilianLloyd/Note-App">Github</a>
  </div>
</div>
