
*
  padding: 0
  margin: 0
  font-family: 'Lato', sans-serif
  box-sizing: border-box

body
  position: relative


::-webkit-scrollbar
  width: 2px
  height: 2px

::-webkit-scrollbar-button
  width: 0px
  height: 0px

::-webkit-scrollbar-thumb
  background: #e1e1e1
  border: 0px none #ffffff
  border-radius: 50px

::-webkit-scrollbar-thumb:hover
  background: #ffffff

::-webkit-scrollbar-thumb:active
  background: #000000

::-webkit-scrollbar-track
  background: #666666
  border: 0px none #ffffff
  border-radius: 50px

::-webkit-scrollbar-track:hover
  background: #666666

::-webkit-scrollbar-track:active
  background: #333333

::-webkit-scrollbar-corner
  background: transparent


input
  border: 0
  outline: 0
  background: transparent
  width: 20px

.remove-dec
  text-decoration: none
