@import "utils/vars"

// l-* prefix. l stands for layout
.l-left
  float: left

.l-right
  right: right

.l-align-center
  text-align: center


.l-960-container
  margin: 0 auto
  max-width: 960px


.l-50
  display: inline-block
  width: 50%

  @media (max-width: $break-medium)
    width: 100%

.l-30
  display: inline-block
  width: 30%

  @media (max-width: $break-medium)
    width: 100%

.l-40
  display: inline-block
  width: 40%

  @media (max-width: $break-medium)
    width: 100%

.l-20
  display: inline-block
  width: 20%

  @media (max-width: $break-medium)
    width: 100%

.l-33
  display: inline-block
  width: 33%

  @media (max-width: $break-medium)
    width: 100%


.l-70
  display: inline-block
  width: 70%

  @media (max-width: $break-medium)
    width: 100%

.l-80
  display: inline-block
  width: 70%

  @media (max-width: $break-medium)
    width: 100%

.l-90
  display: inline-block
  width: 70%

  @media (max-width: $break-medium)
    width: 100%


.l-100
  display: inline-block
  width: 100%


.l-flex-center
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
