<!-- THIS IS CONTAINED BY A 960 CONTAINER. USE THE LAYOUT CLASSES PROVIDED IN LAYOUT.SASS -->
<div class="l-100 overlay--header">
  <div class="module--title">MassanSC</div>
  <div class="header--tags">Web Development | Design | Streaming</div>
</div>
<div class="l-100 massan--images">
    <div class="l-33 massan-dashboard"></div>
    <div class="l-33 massan-vm"></div>
    <div class="l-33 massan-socialbox"></div>
</div>
<div class="l-100 massan--about">
  <div class="module--title about--title">MassanSC</div>
  <div class="about--text">MassanSC is a popular twitch.tv <a href="http://www.twitch.tv/massansc" class="module--link">streamer</a>. Me(and a few other people) have built several applications for him. We built a sound, point, notication and animation system. People in this stream chat can use the points they earn from being on the channel to activate animations and sounds. Take a look at <a href="https://no.linkedin.com/in/maximilian-lloyd-056461b9" class="module--link">linkedin</a></div>
</div>
