@import "../utils/vars"


#about
  width: 100%
  background-color: white
  .about--header
    height: 70px
    width: 100%
    text-align: center
    font-family: 'Lato', sans-serif
    font-weight: 700
    line-height: 3.7

  .about--contentarea
    display: flex
    flex-wrap: nowrap
    align-items: center
    padding: 80px 20px
    color: $primary-dark

    @media (max-width: $break-medium)
      flex-wrap: wrap
      justify-content: center


    .about--portrait
      position: relative
      height: 175px
      width: 175px
      background-size: 175px 175px
      background-image: url('../media/about--portrait.jpg')
      background-size: cover
      border-radius: 50%
      border: 4px solid white
      box-shadow: 0px 0px 10px rgba(0,0,0, 0.4)

    .about--content
      display: inline-block
      padding-left: 25px
      font-size: 20px



      @media (max-width: $break-medium)
        margin-top: 20px

  .about--node
    width: 45px
    height: 45px
    border-radius: 50%
    background-color: $primary
    text-align: center
    position: absolute

    .about--icon
      font-size: 2em
      position: relative
      top: 5px
      color: white
