@import "../utils/vars"

#blog

  .blog--contentarea
    color: $primary-dark
    padding: 20px
    padding-bottom: 40px
    .blog--about
      font-size: 18px
      padding: 20px 0px

    .blog--snippet
      padding: 15px
      background-color: #eee

      .snippet--title
        font-family: 'Montserrat', sans-serif
        font-size: 24px

      .snippet--content
        line-height: 28px

        .snippet--subheader
          margin-top: 15px
          font-size: 20px
          font-family: 'Montserrat', sans-serif

        .snippet--cta
          margin-top: 20px
          font-family: 'Montserrat', sans-serif
