@import "../utils/vars"

#contact
  min-height:  600px
  background-color: white



  .contact--contentarea
    display: flex

    @media (max-width: $break-medium)
      flex-direction: column


    form
      padding: 20px
      input
        width: 100%
        border-bottom: 2px solid $primary
        padding: 10px 0px
        margin: 15px 0px
        transition: all 200ms ease-in-out

        &:focus
          border-bottom: 2px solid lighten($primary, 15%)


      .input--message
        width: 100%
        height: 100px
        outline: none
        resize: none
        border: none
        border-bottom: 2px solid $primary

        &:focus
          outline: 0
          outline: none
          border-bottom: 2px solid lighten($primary, 15%)


    .contact--cta
      font-family: 'Montserrat', sans-serif
      color: white
      font-weight: 700
      background-color: $primary
      text-transform: uppercase
      display: inline-block
      padding: 15px 25px
      font-size: 20px
      cursor: pointer
      transition: all 100ms ease-in-out
      text-align: center



      @media (max-width: $break-medium)
        display: block

      &:hover
        background-color: lighten($primary, 10%)

    .contact--social
      padding: 20px
      color: $primary-dark

      .social--twitter

        .twitter--text
          font-family: 'Lato', sans-serif
          display: block

        .twitter--handle
          width: auto
          display: inline-block


      .social--icons
        margin-top: 20px
        flex-direction: row


        .icon
          width: 40px
          height: 40px
          background-size: cover
          margin: 0px 2px
          cursor: pointer

        .facebook
          background-image: url('../media/facebook.png')

        .skype
          margin-top: -25px
          margin-left: -20px

        .github
          background-image: url('../media/Github.png')

        .linked-in
          background-image: url('../media/linkedin.png')

      .social--email
        margin-top: 40px
        .email--text
          font-family: 'Lato', sans-serif
          display: block

        .email--handle
          display: inline-block

.emphazise
  font-family: 'Montserrat', sans-serif
  display: block
  font-size: 26px
  font-weight: 700
  color: $primary
