@import "../utils/vars"

#experiments
  width: 100%
  background-color: white

  .experiments--contentarea
    .experiment
      display: flex


      .experiment--icon


      .experiment--info
        padding-left: 20px
        display: flex
        flex-direction: column
        justify-content: center

        .info--title
          font-family: 'Montserrat', sans-serif
          font-weight: 700
          font-size: 34px
