@import "../utils/vars"


// Put this #34495E as color and set it to 30-40% opacity
#header
  min-height: 100vh
  background-image: url('../media/header--background.jpg')
  background-position: center
  background-size: cover
  display: flex
  box-shadow: inset 0 0 0 1000px rgba(52,73,94, 0.4)

  .header--title-container
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    margin-top: 200px
    padding-left: 100px

    @media (max-width: $break-medium)
      padding-left: 20px
      padding-right: 20px

    .header--title
      color: white
      font-size: 64px

      @media (max-width: $break-medium)
        font-size: 52px

    .header--slogon
      color: white
      font-size: 20px
      letter-spacing: 2px

    .header--cta
      padding: 20px 25px
      border: 2px solid white
      display: inline-block
      color: white
      margin-top: 50px
      cursor: pointer
      transition: all 200ms ease-in-out

      //@media (max-width: $break-medium)

      &:hover
        background-color: rgba(255,255,255,0.5)

.header--to--about
 	width: 0
  height: 0
  position: absolute
  left: 50%
  margin-left: -90px
  border-style: solid
  border-width: 60px 60px 0 60px
  border-color: white transparent transparent transparent
  transform: rotate(180deg)
  margin-top: -60px
