#quote
  height: 220px
  background-image: url('../media/quote.jpg')
  background-size: cover
  background-position: center
  box-shadow: inset 0 0 0 1000px rgba(52,73,94, 0.8)
  display: flex
  justify-content: center
  align-items: center
  color: white
  flex-direction: column
  font-family: 'Montserrat', sans-serif

  .quote--content
    font-weight: 700
    font-size: 36px
  
