@import "../utils/vars"

#skills
  background-color: white
  .skills--contentarea
    padding: 20px
    min-height: 400px

    .skills--graph
      width: 100%
      height: 100%

      .graph--frameworks
        font-family: 'Montserrat', sans-serif

      .graph--line
        width: 100%
        height: 8px
        background-color: $primary-dark
        position: relative
        margin: 60px 0px
        padding: 0px 2px

        .graph--bar
          width: 0%
          height: 4px
          background-color: white
          position: relative


          top: -22px
          transition: 400 all ease-in-out


        .graph--title
          font-family: 'Montserrat', sans-serif
          position: relative
          top: -30px
          font-size: 20px

        .skill--html
          color: #E44D26

        .skill--css
          color: #0070BA

        .skill--javascript
          color: darken(#F0DB4F, 20%)

        .skill--node
          color: #80BD01

        .skill--gulp
          color: #CF4646

        .skill--angular
          color: #DD1B16

        .skill--jquery
          color: #0769AD

        .skill--express
          color: lighten(#3B4854, 20%)

        .skill--socketio
          color: #DB7AEE

        .skill--react
          color: darken(#61DAFB, 20%)

        .skill--bootstrap
          color: lighten(#59407F, 15)
