@import "../utils/vars"



#work
  width: 100%
  background-color: white

  .work--contentarea
    display: flex
    flex-wrap: wrap
    padding: 20px 0px

    .work--cv
      color: white
      font-family: 'Montserrat', sans-serif
      padding: 40px 40px
      text-align: center
      line-height: 0px
      font-size: 20px
      text-transform: uppercase
      background-color: $primary
      font-weight: 700
      cursor: pointer
      font-size: 20px
      margin: 20px 0px
      transition: all 150ms ease-in-out

      &:hover
        background-color: $primary-dark

      @media (max-width: $break-medium)
        width: 100%


    .flex--2
      width: 67.5%
      @media (max-width: $break-medium)
        width: 200%

      color: white

    .work--project
      height: 250px
      background-size: cover
      background-position: center
      transition: all 200ms ease-in-out
      color: white
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      @media (max-width: $break-medium)
        width: 100% !important
        margin: 10px 0


      .project-content
        transition: all 200ms cubic-bezier(0.25,0.1,0.25,1)
        transform: scale(0)


        .project--tags
          text-align: center

        .project--title
          font-family: 'Montserrat', sans-serif
          font-size: 28px
          margin-top: 10px
          margin-bottom: 40px
          text-align: center

        .project--cta
          padding: 15px 10px
          font-family: 'Montserrat', sans-serif
          border: 2px solid white
          font-weight: 700
          cursor: pointer
          transition: 200ms all ease-in-out
          text-align: center

          &:hover
            background-color: white
            color: rgb(52,73,94)


      &:hover
        box-shadow: inset 0 0 0 1000px rgba(52,73,94, 0.8)

    .project--notes
      width: 32.5%
      background-image: url('../media/work--notes.png')
      height: 500px
      background-size: cover
      background-position: top


    .project--massan
      background-image: url('../media/work--subalert.png')
      background-size: cover

    .project--trafikkblog
      background-position: top
      background-image: url('../media/trafikkblog--header.png')
      background-size: cover

    .project--SE
      width: 100%
      background-image: url('../media/se-frontpage.png')
      height: 488px
      background-size: cover
      background-position: bottom
