<!-- THIS IS CONTAINED BY A 960 CONTAINER. USE THE LAYOUT CLASSES PROVIDED IN LAYOUT.SASS -->
<div class="l-100 overlay--header">
  <div class="module--title">Stream Elements</div>
  <div class="header--tags">Web Development | Design</div>
</div>
<div class="l-100">
  <div class="module--slider">
  <div class='se--slider slider--wrapper'>
    <div class="se-frontpage slide"></div>
    <div class="se-account slide"></div>
    <div class="se-filters slide"></div>
    <div class="se-filters slide"></div>
    <div class="se-tipping slide"></div>
    <div class="se-leaderboard slide"></div>
  </div>
  </div>
</div>
<div class="l-100 se--about">
  <div class="module--title about--title">Live streaming? We got you covered</div>
  <div class="about--text">Stream Elements is an extensive live streaming suite built for twitch.tv that is currently being developed. Development has been going on for over half a year. It comes packed with features like: </div>
  <p class="about--link">Info at <a class="module--link" href="http://streamelements.com">streamelements</a></p>
  <div class="about--features">
    <div class="feature"><b>&raquo;</b> Chat moderation</div>
    <div class="feature"><b>&raquo;</b> User friendly donation mamager</div>
    <div class="feature"><b>&raquo;</b> Leaderboard</div>
    <div class="feature"><b>&raquo;</b> Point system</div>
  </div>

</div>
